<section id="hero-section" class="hero-sec">
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item-img active">
                <img src="https://themewagon.github.io/novena/images/bg/slider-bg-1.jpg" class="d-block w-100 hero-img"
                    alt="...">
                <div class="carousel-caption">
                    <h1 class="caption-heading text-start">We care about your health</h1>
                    <p class="caption-desc">The health and well-being of our patients and their health care team will
                        always be our priority, so we follow the best practices. </p>
                    <div class="cap-btn">
                        <button class="btn btn-warning btn-cls">Book Appoinment</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-img">
                <img src="https://images.pexels.com/photos/236380/pexels-photo-236380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="d-block w-100 hero-img" alt="...">
                <div class="carousel-caption">
                    <h1 class="caption-heading">true healthcare for your family</h1>
                    <p class="caption-desc">The health and well-being of our patients and their health care team will
                        always be our priority, so we follow the best practices. </p>
                    <div class="cap-btn">
                        <button class="btn btn-warning btn-cls">Book Appoinment</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-img">
                <img src="https://images.pexels.com/photos/2324837/pexels-photo-2324837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    class="d-block w-100 hero-img" alt="...">
                <div class="carousel-caption">
                    <h1 class="caption-heading">provide aspects of medical care</h1>
                    <p class="caption-desc">The health and well-being of our patients and their health care team will
                        always be our priority, so we follow the best practices. </p>
                    <div class="cap-btn">
                        <button class="btn btn-warning btn-cls">Book Appoinment</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section id="info-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3 info-col">
                <i class="fa fa-ambulance fa-3x mb-2" aria-hidden="true"></i>
                <h5 class="mb-3">Emergency Contact</h5>
                <p>Please feel welcome to contact our staff with any general or medical enquiry call us</p>

                <i class="fa fa-volume-control-phone fa-lg" aria-hidden="true"></i>
                <span class="fs-5"> +91 - 875642282</span>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 info-col">
                <i class="fa fa-user-md fa-3x mb-2" aria-hidden="true"></i>
                <h5 class="mb-3">Qualified Doctors</h5>
                <p>Please feel welcome to contact our staff with any general or medical enquiry call us</p>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 info-col">
                <i class="fa fa-stethoscope fa-3x mb-2" aria-hidden="true"></i>
                <h5 class="mb-3">Outdoor Checkup</h5>
                <p>Please feel welcome to contact our staff with any general or medical enquiry call us</p>

                <i class="fa fa-volume-control-phone fa-lg" aria-hidden="true"></i>
                <span class="fs-5"> +91 - 875642282</span>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 info-col">
                <i class="fa fa-clock-o fa-3x mb-2" aria-hidden="true"></i>
                <h5 class="mb-3">Opening Time</h5>
                <ul class="list-unstyled">
                    <li> <span>monday-friday</span><span>8:00 - 7:00 pm</span></li>
                    <li> <span>saturday</span><span>9:00 - 8:00 pm</span></li>
                    <li> <span>sunday</span><span>10:00 - 9:00 pm</span></li>
                    <li> <span>emergency</span><span>24HR / 7DAYS</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="about-section" class="section-padding bg-light">
    <div class="container about-us mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://demo.zytheme.com/medisch/assets/images/about/5.jpg" alt="About us"
                    class="img-fluid rounded shadow">
            </div>
            <div class="col-lg-6 ps-5">
                <h6 class="about-head">Welcome to Medicenter</h6>
                <h2 class="about-sub-head">We meet the highest medical standards ensuring a high level of safety</h2>
                <p class="about-desc">Pregnancy Clinic is a unique place that was created with women in mind. Our
                    mission is to provide patients and their children with professional service, individual care, safety
                    and comfort. We are distinguished by these features:
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="text-primary fw-normal">Our Mission</h5>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check-circle-o me-2 text-primary"></i>Health assessments</li>
                            <li><i class="fa fa-check-circle-o me-2 text-primary"></i>Home medicine review</li>
                            <li><i class="fa fa-check-circle-o me-2 text-primary"></i>Fractures and dislocations</li>
                            <li><i class="fa fa-check-circle-o me-2 text-primary"></i>Desensitisation injections</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-primary fw-normal">Our Vision</h5>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-bullseye me-2 text-primary"></i>Primary Care</li>
                            <li><i class="fa fa-bullseye me-2 text-primary"></i>Lab Test</li>
                            <li><i class="fa fa-bullseye me-2 text-primary"></i>Symptom Check</li>
                            <li><i class="fa fa-bullseye me-2 text-primary"></i>Heart Rate</li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-3 p-3 text-uppercase">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<section id="service-section" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="text-center">
                    <h2 class="service-head">Why Choose Us</h2>
                    <p class="mb-1 service-desc">It is the people who make Medicenter what it is and we are extremely
                        proud of the achievements of our staff</p>
                    <p class="mb-1 service-desc">We all work together to help our patients through recovery, providing
                        the best possible care.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-xl-0 mb-4">
            <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                <div class="card service-card">
                    <div class="card-body text-center p-4">
                        <div class="service-icon">
                            <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
                        </div>
                        <h5 class="service-heading">Qualified Doctors</h5>
                        <p class="service-desc">The Big Oxmox advised her not to do so, because there were thousands of
                            bad Commas, wild Question Marks and devious Semikoli
                        </p>
                        <a href="" class="service-learn-more">Learn More
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                <div class="card service-card">
                    <div class="card-body text-center p-4">
                        <div class="service-icon">
                            <i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>
                        </div>
                        <h5 class="service-heading">Hospital Treatment</h5>
                        <p class="service-desc">We have a fully equipped modern hospital ward where we take care of
                            every mother and her children.
                        </p>
                        <a href="" class="service-learn-more">Learn More
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                <div class="card service-card">
                    <div class="card-body text-center p-4">
                        <div class="service-icon">
                            <i class="fa fa-ambulance fa-5x" aria-hidden="true"></i>
                        </div>
                        <h5 class="service-heading">Child-oriented</h5>
                        <p class="service-desc">Our children’s needs always come first. Smiling staff, colorful and
                            modern rooms and offices, healthy and tasty cuisine.
                        </p>
                        <a href="" class="service-learn-more">Learn More
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-xl-0">
            <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                <div class="card service-card">
                    <div class="card-body text-center p-4">
                        <div class="service-icon">
                            <i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>
                        </div>
                        <h5 class="service-heading">Medical Counseling</h5>
                        <p class="service-desc">We provide comprehensive outpatient assistance and emergency care
                            without the need for prior registration.
                        </p>
                        <a href="" class="service-learn-more">Learn More
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                <div class="card service-card">
                    <div class="card-body text-center p-4">
                        <div class="service-icon">
                            <i class="fa fa-ambulance fa-5x" aria-hidden="true"></i>
                        </div>
                        <h5 class="service-heading">Emergency Services</h5>
                        <p class="service-desc">Our midwives will accompany you even when you leave our care center.
                            They will provide the necessary support.
                        </p>
                        <a href="" class="service-learn-more">Learn More
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-stretch">
                <div class="card service-card">
                    <div class="card-body text-center p-4">
                        <div class="service-icon">
                            <i class="fa fa-h-square fa-5x" aria-hidden="true"></i>
                        </div>
                        <h5 class="service-heading">Operation Theater</h5>
                        <p class="service-desc">Little Blind Text didn’t listen. She packed her seven versalia, put her
                            initial into the belt and made herself on the way.
                        </p>
                        <a href="" class="service-learn-more">Learn More
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="site-section">
    <div class="container-fluid">
        <div class="row site-bg-image">
            <div class="row align-items-center">
                <div class="col-lg-3 col-6 mb-4 mt-5 text-center">
                    <div class="site-icon">
                        <i class="fa fa-medkit fs-1 text-white"></i>
                    </div>
                    <h2 class="fw-normal p-2">2300+</h2>
                    <p class="text-muted">HOSPITALIZATIONS</p>
                </div>
                <div class="col-lg-3 col-6 mb-4 mt-5 text-center">
                    <div class="site-icon">
                        <i class="fa fa-h-square fs-1 text-white"></i>
                    </div>
                    <h2 class="fw-normal p-2">230+</h2>
                    <p class="text-muted">AMBULATORY CASES</p>
                </div>
                <div class="col-lg-3 col-6 mb-4 mt-5 text-center">
                    <div class="site-icon">
                        <i class="fa fa-hospital-o fs-1 text-white"></i>
                    </div>
                    <h2 class="fw-normal p-2">2300+</h2>
                    <p class="text-muted">HAPPY PATIENTS</p>
                </div>
                <div class="col-lg-3 col-6 mb-4 mt-5 text-center">
                    <div class="site-icon">
                        <i class="fa fa-heartbeat fs-1 text-white"></i>
                    </div>
                    <h2 class="fw-normal p-2">500+</h2>
                    <p class="text-muted">LABORATORY TESTS</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="doctors-section" class="doctors section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="section-header text-center">
                    <h2 class="doctors-head">Meet Our Doctors</h2>
                    <p class="doctors-desc">Our administration and support staff have exceptional skills and trained to
                        assist you with all
                        enquiries.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-xl-0 p-0">
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card doctors-card">
                    <img src="https://demo.zytheme.com/medisch/assets/images/team/grid/1.jpg" class="card-img-top"
                        alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Dr. Edward Dughlas</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Neurologist</h6>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card doctors-card">
                    <img src="https://preview.colorlib.com/theme/medicare/images/staff-4.jpg.webp" class="card-img-top"
                        alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Dr. Beatrice Prior</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Orthopedic Surgeon </h6>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card doctors-card">
                    <img src="https://preview.colorlib.com/theme/medicare/images/staff-3.jpg.webp" class="card-img-top"
                        alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Dr. Peter Parker</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Health Care</h6>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card doctors-card">
                    <img src="https://preview.colorlib.com/theme/medicare/images/staff-1.jpg.webp" class="card-img-top"
                        alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body text-center">
                        <h5 class="card-title mb-3">Dr. Liza Thomas</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Patient Services</h6>
                        <div class="d-flex justify-content-center mt-3">
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-link doctor-icon text-decoration-none me-2">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog-section" class="section-padding">
    <div class="container blog">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="section-header text-center">
                    <h2 class="blog-head">Read New Stories</h2>
                    <p class="blog-desc">Behind the word mountains, far from the countries Vokalia and Consonantia.
                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-4 gy-xl-0 p-0 blog">
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card shadow blog-card">
                    <img src="https://medikit-nextjs.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fblog1.b8b7ff5e.jpg&w=1200&q=75"
                        class="card-img-top" alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body p-4">
                        <div class="date"> 22 Aug, 2020 </div>
                        <h2><a href="/blog-single">We have annnocuced our new product.</a></h2>
                        <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt sed do incididunt sed.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card shadow blog-card">
                    <img src="https://medikit-nextjs.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fblog2.732e78e0.jpg&w=1200&q=75"
                        class="card-img-top" alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body p-4">
                        <div class="date"> 15 Feb, 2025 </div>
                        <h2><a href="/blog-single">Top five way for solving teeth problems.</a></h2>
                        <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt sed do incididunt sed.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="card shadow blog-card">
                    <img src="https://medikit-nextjs.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fblog3.dea60cc7.jpg&w=1200&q=75"
                        class="card-img-top" alt="Card image" style="height: 250px; object-fit: cover;" />
                    <div class="card-body p-4">
                        <div class="date"> 05 Jan, 2025 </div>
                        <h2><a href="/blog-single">We provide highly business soliutions.</a></h2>
                        <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt sed do incididunt sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Appointment-section" class="section-padding">
    <div class="container blog">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="section-header text-center">
                    <h2 class="blog-head mb-1">We Are Always Ready to Help You.</h2>
                    <h2 class="blog-head">Book An Appointment</h2>
                    <p class="blog-desc">Behind the word mountains, far from the countries Vokalia and Consonantia.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-2 pt-3">
                    <form action="">
                        <div class="row p-3">
                            <div class="col-lg-6">
                                <input type="text" class="form-control form-control-lg" id="name" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="col-lg-6">
                                <input type="number" class="form-control form-control-lg" id="phone" placeholder="Phone"
                                    max="10">
                            </div>
                            <div class="col-lg-6">
                                <select id="inputState" class="form-select form-select-lg">
                                    <option selected>Department</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="col-lg-6">
                                <select id="inputState" class="form-select form-select-lg">
                                    <option selected>Doctors</option>
                                    <option>Doctors 1</option>
                                    <option>Doctors 2</option>
                                    <option>Doctors 3</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="datetime-local" class="form-control form-control-lg" id="date"
                                    placeholder="Date">
                            </div>
                        </div>
                        <div class="col-lg-12 p-3">
                            <textarea class="form-control" id="message" rows="5"
                                placeholder="Write Your Message Here ..."></textarea>
                        </div>
                        <div class="col-lg-12 text-center pt-3 pb-3">
                            <button class="btn btn-primary p-3">Book An Appointment</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="https://medikit-nextjs.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcontact-img.0f904a77.png&w=1080&q=75"
                    alt="">
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <footer class="text-white text-center text-lg-start bg-primary">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">About Medicenter</h5>
                    <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti.
                    </p>
                    <p> Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias.
                    </p>
                    <div class="mt-4">
                        <a class="btn btn-outline-light btn-floating m-1"><i class="fa fa-facebook-f"></i></a>
                        <a type="button" class="btn btn-outline-light btn-floating m-1"><i
                                class="fa fa-twitter"></i></a>
                        <a type="button" class="btn btn-outline-light btn-floating m-1"><i
                                class="fa fa-twitter"></i></a>
                        <a type="button" class="btn btn-outline-light btn-floating m-1"><i class="fa fa-google"></i>
                        </a>
                        <a type="button" class="btn btn-outline-light btn-floating m-1"><i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">Sagra, Katra-City
                                Road, Afim Kothi, Pratapgarh, 230001
                            </span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fa fa-envelope"></i></span><span
                                class="ms-2">dheeraj95gmail.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 01 234 567
                                88</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fa fa-print"></i></span><span class="ms-2">+ 01 234 567
                                89</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Opening hours</h5>

                    <table class="table text-center text-white">
                        <tbody class="font-weight-normal">
                            <tr>
                                <td>Mon - Thu:</td>
                                <td>8am - 9pm</td>
                            </tr>
                            <tr>
                                <td>Fri - Sat:</td>
                                <td>8am - 1am</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>9am - 10pm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2025 Copyright:
            <a class="text-white text-decoration-none" href="">Dheeraj.com | All Rights Reserved by Dheeraj</a>
        </div>
    </footer>
</section>